{% extends "base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet" type="text/css" href="{{url_for('static', filename='css/home.css')}}">
{% endblock %}


{% block body %}
<div class='header'>
    <header></header>
</div>
<div class="container">
    <div class="row">
        <div class="col align-self-center">
            <form action="#" method="post">
                <input type="text" name="player" placeholder="enter player name" />
                <button type="submit" value="submit" class="btn btn-primary">submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}